In [2]:
import pandas as pd
data = pd.Series([10, 20, 30, 40, 50],index=['a','b','c','d','e'])
print(data['d'])

40

In [3]:
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'Salary': [50000, 60000, 70000]
})
print(df)

      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   70000

Task: Create a DataFrame with 3 columns (Product, Price, Quantity) and 5 rows.

In [4]:
import pandas as pd
df = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/employee.xlsx')
df

FileNotFoundError: [Errno 2] No such file or directory: '/content/drive/MyDrive/Colab Notebooks/employee.xlsx'

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
print(df.isnull().sum())  # Count missing values per column
df.fillna(0, inplace=True)  # Replace NaNs with 0

Emp_id        0
Emp_name      0
Emp_age       2
Emp_salary    0
dtype: int64

In [ ]:
df.iloc[5:7]

   Emp_id       Emp_name  Emp_age  Emp_salary
5     106       Rubi Roy      NaN       52683
6     107  Nilanjana Roy     27.0       35244

In [ ]:
df[['Emp_age','Emp_name','Emp_salary']]

   Emp_age        Emp_name  Emp_salary
0     55.0       Akbar Ali       35714
1     28.0       Suman Roy       65467
2      NaN        Dinu Pal       36377
3     58.0       Sumit Kar       51710
4     58.0       sujan Das       36692
5      NaN        Rubi Roy       52683
6     27.0   Nilanjana Roy       35244
7     25.0      Samrat Deb       35970
8     29.0  Dinabondhu Dey       83932
9     59.0            Z da       66802

In [ ]:
df["Emp_age"].mean()

42.375

In [ ]:
df[['Emp_name', 'Emp_age','Emp_salary']]

         Emp_name  Emp_age  Emp_salary
0       Akbar Ali     55.0       35714
1       Suman Roy     28.0       65467
2        Dinu Pal      0.0       36377
3       Sumit Kar     58.0       51710
4       sujan Das     58.0       36692
5        Rubi Roy      0.0       52683
6   Nilanjana Roy     27.0       35244
7      Samrat Deb     25.0       35970
8  Dinabondhu Dey     29.0       83932
9            Z da     59.0       66802

In [ ]:
df[df['Emp_salary']<60000]

   Emp_id       Emp_name  Emp_age  Emp_salary
0     101      Akbar Ali     55.0       35714
2     103       Dinu Pal      NaN       36377
3     104      Sumit Kar     58.0       51710
4     105      sujan Das     58.0       36692
5     106       Rubi Roy      NaN       52683
6     107  Nilanjana Roy     27.0       35244
7     108     Samrat Deb     25.0       35970

In [ ]:
fitr = df.query('Emp_salary >= 60000 and Emp_age < 30')
print(fitr)

   Emp_id        Emp_name  Emp_age  Emp_salary
1     102       Suman Roy     28.0       65467
8     109  Dinabondhu Dey     29.0       83932

In [ ]:
#df['Name']  # Selecting one column
d=['Name', 'Age']
df[d]  # Selecting multiple columns

                                                  Name   Age
0                              Braund, Mr. Owen Harris  22.0
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  38.0
2                               Heikkinen, Miss. Laina  26.0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  35.0
4                             Allen, Mr. William Henry  35.0
..                                                 ...   ...
886                              Montvila, Rev. Juozas  27.0
887                       Graham, Miss. Margaret Edith  19.0
888           Johnston, Miss. Catherine Helen "Carrie"   0.0
889                              Behr, Mr. Karl Howell  26.0
890                                Dooley, Mr. Patrick  32.0

[891 rows x 2 columns]

In [ ]:
df.groupby('Emp_age')['Emp_salary'].mean()

Emp_age
0.0     44530.0
25.0    35970.0
27.0    35244.0
28.0    65467.0
29.0    83932.0
55.0    35714.0
58.0    44201.0
59.0    66802.0
Name: Emp_salary, dtype: float64

In [ ]:
df.sort_values(by='Emp_age', ascending=True, inplace=True)
print(df)

   Emp_id        Emp_name  Emp_age  Emp_salary
7     108      Samrat Deb     25.0       35970
6     107   Nilanjana Roy     27.0       35244
1     102       Suman Roy     28.0       65467
8     109  Dinabondhu Dey     29.0       83932
0     101       Akbar Ali     55.0       35714
3     104       Sumit Kar     58.0       51710
4     105       sujan Das     58.0       36692
9     110            Z da     59.0       66802
2     103        Dinu Pal      NaN       36377
5     106        Rubi Roy      NaN       52683

In [ ]:

df_filtered = df.query("Age > 30 and Fare > 60")

In [ ]:
print(df_filtered)

     PassengerId  Survived  Pclass  \
1              2         1       1
52            53         1       1
54            55         0       1
61            62         1       1
62            63         0       1
..           ...       ...     ...
820          821         1       1
829          830         1       1
835          836         1       1
856          857         1       1
879          880         1       1

                                                  Name     Sex   Age  SibSp  \
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
52            Harper, Mrs. Henry Sleeper (Myna Haxtun)  female  49.0      1
54                      Ostby, Mr. Engelhart Cornelius    male  65.0      0
61                                 Icard, Miss. Amelie  female  38.0      0
62                         Harris, Mr. Henry Birkhardt    male  45.0      1
..                                                 ...     ...   ...    ...
820  Hays, Mrs. Charles Melville (Clara Jennings Gr...  female  52.0      1
829          Stone, Mrs. George Nelson (Martha Evelyn)  female  62.0      0
835                        Compton, Miss. Sara Rebecca  female  39.0      1
856         Wick, Mrs. George Dennick (Mary Hitchcock)  female  45.0      1
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  56.0      0

     Parch    Ticket      Fare Cabin Embarked
1        0  PC 17599   71.2833   C85        C
52       0  PC 17572   76.7292   D33        C
54       1    113509   61.9792   B30        C
61       0    113572   80.0000   B28      NaN
62       0     36973   83.4750   C83        S
..     ...       ...       ...   ...      ...
820      1     12749   93.5000   B69        S
829      0    113572   80.0000   B28      NaN
835      1  PC 17756   83.1583   E49        C
856      1     36928  164.8667   NaN        S
879      1     11767   83.1583   C50        C

[61 rows x 12 columns]

Task:
Load a dataset.
Filter employees earning more than $60,000.
Select only the columns Name & Salary.

In [1]:
df['actual fare'] = df['Fare']+df['Fare'] * 0.10  # 10% bonus
df.drop(columns=['actual fare'], inplace=True)  # Remove column
df.iloc[23]

NameError: name 'df' is not defined

In [ ]:
df['bonus'] =df['Emp_salary'] * 0.10
df

   Emp_id        Emp_name  Emp_age  Emp_salary   bonus
7     108      Samrat Deb     25.0       35970  3597.0
6     107   Nilanjana Roy     27.0       35244  3524.4
1     102       Suman Roy     28.0       65467  6546.7
8     109  Dinabondhu Dey     29.0       83932  8393.2
0     101       Akbar Ali     55.0       35714  3571.4
3     104       Sumit Kar     58.0       51710  5171.0
4     105       sujan Das     58.0       36692  3669.2
9     110            Z da     59.0       66802  6680.2
2     103        Dinu Pal      NaN       36377  3637.7
5     106        Rubi Roy      NaN       52683  5268.3

In [ ]:
df.rename(columns={'Parch': 'Floor'}, inplace=True)
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Floor', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [ ]:
from typing_extensions import Text
df['PassengerId'] = df['PassengerId'].astype(float)  # Convert Age to float
df.iloc[25]

PassengerId                                                 26.0
Survived                                                       1
Pclass                                                         3
Name           Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...
Sex                                                       female
Age                                                         38.0
SibSp                                                          1
Floor                                                          5
Ticket                                                    347077
Fare                                                     31.3875
Cabin                                                        NaN
Embarked                                                       S
Name: 25, dtype: object

In [ ]:
df.sort_values(by='Fare', ascending=True, inplace=True)
df.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Floor,Ticket,Fare,Cabin,Embarked
674,675.0,0,2,"Watson, Mr. Ennis Hastings",male,nan,0,0,239856,0.0,NaN,S
179,180.0,0,3,"Leonard, Mr. Lionel",male,36.0,0,0,LINE,0.0,NaN,S
732,733.0,0,2,"Knight, Mr. Robert J",male,nan,0,0,239855,0.0,NaN,S
822,823.0,0,1,"Reuchlin, Jonkheer. John George",male,38.0,0,0,19972,0.0,NaN,S
413,414.0,0,2,"Cunningham, Mr. Alfred Fleming",male,nan,0,0,239853,0.0,NaN,S

In [ ]:
df.groupby('Age')['Fare'].mean()

Age
0.42      8.516700
0.67     14.500000
0.75     19.258300
0.83     23.875000
0.92    151.550000
           ...
74.0      7.775000
8.0      28.300000
80.0     30.000000
9.0      27.938537
nan      22.158567
Name: Fare, Length: 89, dtype: float64

✅ Task:
Create a new column Tax (15% of Salary).
Sort employees by Salary in descending order.
Find the average Salary by Age.

In [ ]:
df1 = pd.DataFrame({'ID': [1, 2, 3], 'Score': [90, 85, 88]})
df2 = pd.DataFrame({'ID': [4, 5, 6], 'Score': [75, 95, 80]})
df_combined = pd.concat([df1, df2])
print(df_combined)

In [ ]:
employees = pd.DataFrame({'ID': [1, 2, 3], 'Name': ['Alice', 'Bob', 'Charlie']})
salaries = pd.DataFrame({'ID': [1, 2, 3], 'Salary': [50000, 60000, 70000]})
merged_df = employees.merge(salaries, on='ID')
print(merged_df)

✅ Task:
Load a dataset.
Extract employees who earn more than the average salary.
Group by department and calculate total salary expenditure.
Merge the data with another dataset containing bonus information.

In [ ]:
import pandas as pd
empl= pd.read_csv('/content/drive/MyDrive/Colab Notebooks/employee.csv')
bonus=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/bonus_information.csv')
emp_merged=empl.merge(bonus,on='Emp_id')
print(emp_merged)

   Emp_id        Emp_name  Emp_age  Emp_salary  Bonus_information  duration
0     101       Akbar Ali       55       35714            4285.68         3
1     102       Suman Roy       28       65467            7856.04         5
2     103        Dinu Pal       35       36377            4365.24         4
3     104       Sumit Kar       58       51710            6205.20         3
4     105       sujan Das       58       36692            4403.04         2
5     106        Rubi Roy       39       52683            6321.96         4
6     107   Nilanjana Roy       27       35244            4229.28         2
7     108      Samrat Deb       25       35970            4316.40         4
8     109  Dinabondhu Dey       29       83932           10071.84         5
9     110            Z da       59       66802            8016.24         2

In [ ]:
empl[empl['Emp_salary']>empl['Emp_salary'].mean()]

   Emp_id        Emp_name  Emp_age  Emp_salary
1     102       Suman Roy       28       65467
3     104       Sumit Kar       58       51710
5     106        Rubi Roy       39       52683
8     109  Dinabondhu Dey       29       83932
9     110            Z da       59       66802

In [ ]:
empl.groupby('Emp_age')['Emp_salary'].sum()

Emp_age
25    35970
27    35244
28    65467
29    83932
35    36377
39    52683
55    35714
58    88402
59    66802
Name: Emp_salary, dtype: int64